*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #efefef;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

:global(#root) {
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

section {
    width: 100%;
    padding: 50px;
    background: white;
    border-bottom: 1px solid #ededed;
    vertical-align: top;
}

section > summary {
  vertical-align: top;
  display: inline-block;
  min-width: 400px;
}

section > aside {
    vertical-align: top;
    display: inline-block;
    margin-left: 100px;
}

pre {
    background: whitesmoke;
    border-radius: 5px;
    max-height: 500px;
    overflow: auto;
    padding: 20px;
}

h1 {
    margin: 0;
    padding: 50px;
    background: white;
    border-bottom: 1px solid #ededed;
}